body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    width: 850px;
    background-color: #254284;
    color: white;
    height: 180px;
    
    
}

#main{

    height: 180px;
    background-color: #254284;
    float: center;
    
    
}
 ul {
     list-style-type: none;
    
 }

 ul li {
     text-decoration: none;
     display: inline-block;
     background-color: white;
     padding: 5px;
     
     
 }

 ul li a {
     text-decoration: none;
     color: black;
     
 }

ul li a:hover{
    background-color: lightgrey;
    color: blue;
    padding: 10px;
}
    

#nav {

    float: right;
    margin-right: 350px;
    
}
#pp { 
    background-color: #254284;
    border: 2px solid black;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    position: absolute;
    
    
}

#myname{
    float: right;
    position: relative;

    padding-right: 135px;
    margin-top: 38px;
    padding-top: 5px;
}

#profile{
    padding-top: 50px;
    width: 400px;
    height: 90px;
    
}

#website{
    float: right;
    padding-right: 145px;

}
#about {
    padding: 5px;
    background-color: white;
   margin-left: 1px;
}


   


#post {
    border: 1px solid lightgrey;
    background-color: white;
    padding: 5px;
    
}

#postname{

    position: relative;
    padding-top: 10px;
    padding-left: 75px;
    width: 50px;
    top: 50px;


}
#proPic{
    background-color: #254284;
    border: 2px solid black;
    width: 50px;
    height: 50px;
    margin-top: 2px;
    margin-left: 10px;
    position: relative;
  


}



.columnLeft {
    float: left;
    padding-right: 5px;
    padding-top: 100px;
    margin-right: 5px;
    height: 500px;
    width: 321px;
}

.columnRight {
    float: right;
    padding-left: 5px;
    padding-top: 100px;
    margin-left: 5px;
    height: 300px;
    width: 505px;
}

article{
    background-color: lightgrey;
}

.like {
    border: lightgrey;
    height: 20px;
    width: 20px;
}